{% extends 'base.html.twig' %}

{% block title %}Hello AuthenticationController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> ✅</h1>

    {{ form(form) }}
</div>
{% endblock %}
